body{
  font-family:'Helvetica Neue', sans-serif;
  max-width: 50em;
  margin:auto;
  padding:2em 1em;
}

h1 {
  font-inherit;
  color:inherit;
  letter-spacing:-.05em;
  text-decoration:none;
  border-bottom:1px solid black;
}

img {
	float: right;
	width: 20em;
	margin: 2em;
}